*{
    border: none;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #000;
}
a:hover{
    color: #000;
}

/*desabilita os links da página ao carregar*/
.desable-link{
    pointer-events: none;
    cursor: default;
    opacity: 0.6
    
}

body{
    background-color: #fff;
    color: #000;
}

.bodyLojaVirtual section{
    margin-top: 80px; z-index: 1;
    color: #000;
}


.corpo{
    
    height: 100%;
}
/*Cor de fundo da navbar*/
#menu-principal{
    background-color: #8B008B;
    color: #fff;
    height: 100px;
    position: fixed;z-index: 1
    
}
footer{
    background-color: #9400D3;
    color: #fff;
}

#copyRith{
    background-color: #8A2BE2;
    color: #fff;
}

/*muda o alinhameno padrao da classe do bootstrapp*/
#menu-principal .navbar{
    justify-content: center;
}

#logo{
    margin: 0px 10px;
}
/*Muda cor da lista header*/

nav ul li a{
    color: #fff;
}

.login ul li a{
    padding: 8px;
    margin: 5px 10px;
}
.login ul li a:hover{
    color: #fff;
    background-color: rgb(163, 81, 163);
    
}


/*alinha os elementos da div do menu header*/
.alinha-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
}

.navbar-search, .login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navbar-search{
    align-items: left;
    width: 70%;
}

.div-search{
    width: 93%;
    background-color: #fafa;
    margin-right: 4px;
}

#input-search{
    width: 100%;
}

#form-header{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
    margin: 0 0 0 40px;
}


/*submenu*/
.submenu{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#lista-submenu{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.submenu ul li a{
    padding: 2px 10px;

}
.submenu ul li a:hover{
    background-color: rgb(163, 81, 163);
    color: #fff;
    
}



/*Estilo formulario login*/

#login, #cadastro{
    width: 50%;
    margin: 100px auto auto auto;
    padding: 50px 50px;
    height: 100%;
    background-color: #fff;
    box-shadow: 3px 3px 6px #000;

}
#cadastro{
    width: auto;
    border-radius: 0px 120px 0px 120px;
}
#cadastro legend{
    text-align: center;
}
#login button{
    background-color: #8B008B;
}

.bem-vindo{
    margin: auto;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #8B008B;
    margin-top: 20px;
}

#login hr{
    border: none;
    height: 2px;
    background: #8B008B;
    width: 70%;
    margin-bottom: 50px;
}

#login a{
    color: #8B008B;
    margin-left: 25px;
    text-align: right;
}

#login .rodape{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*---------- cadastro cliente -------*/

label[for='id_cnpj']{
    margin-left: 10px;
}

#cadastro .opcao_pessoa{
    margin-bottom: 50px;
}
#cadastro .linha{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-success{
    border: none;
    background-color: #8B008B;
    color: #fff;
    font-weight: bolder;
}
.btn-success:hover{
    font-weight: bolder;
    box-shadow: 2px 2px 4px #000;
    background-color: #8B008B;
    color: #fff;
}

#cadastrar.btn-success{
    background-color: #fff;
    color: #8B008B;
}
#cadastrar.btn-success:hover{
    background-color: #8B008B;
    color: #fff;
}

form .btn-success:hover{
    background-color: #8B008B;
    border: none;
    color: #fff;
    font-weight: bolder;
    box-shadow: 2px 2px 4px #000;
}

form input:hover, form label:hover{
    cursor: pointer;
}

.btn-danger:hover, .btn-primary:hover, .btn-success:hover{
    font-weight: bolder;
    box-shadow: 2px 2px 4px #000;
}



/*------------- produtos-------------*/
.card-produto{
    padding: 4px 6px;
}
.produto{
    cursor: pointer;
    margin: auto;
}

.produto-item{
    height: 100%;
}
.produto-item a{
    text-decoration: none;
    color: #000;
}

.curtir-produto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.child-card-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.curt-lista{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
    margin-left: -30px;
    margin-top: 5px;
}
.button-modal{
   background-color: #8B008B;
   color: #fff;
}
.button-modal:hover{
    background-color: #8B008B;
}
/*menu de opcoes de pesquisa à esquerda*/
.opcoes-pesquisa{
    box-shadow: 1px 2px 4px #ccc;
    position: fixed;
    width: 15%;
    padding: 10px 12px;
    top: 110px;
    left: 20px;

}

#opcoes-pesquisa div{
    padding: 20px;

}

#myModal{
    color: #000;
}

/*---------------- Midias Sociais -----------*/
.midias{
    padding: 5px 14.5px;
}
.midiasSociasis:hover{
    background-color: #ddd;
    box-shadow: 2px 2px 3px #000;
}


/*-------------------------------------------- Styles views aministrador --------------------------*/

/*body{
    background-color: rgba(0,250,154);
}*/

#divImgAdmin{
    padding: 10px 20px;

}



#divImgAdmin img{
    width: 5%;
    height: 5%;
    margin-right: 2px;
}

#subPainel{
    background-color: rgba(211, 211, 211, 0.8);
}

#menuSupAdmin{
    background-color: #D3D3D3;
    border-radius: 0 20px 0px 0px;
    color: #9400D3;
    
}

#menuSupAdmin div{
    margin: auto;
}

.searchInput{
    border-radius: 10px 0px 0px 10px;
}

.search{
    display: flex;
    flex-direction: row;
    border: 2px solid #9400D3;
    border-radius: 10px;
}
.search button{
     border-radius: 0px 10px 10px 0px;
}

#menuLatral{
     background-color: #9400D3;
}

#corpoAdmim{
    height: 100%;
    width: 100%;
}

#corpoAdmim .btnIcones{
    background-color: #9400D3;
    color: #fff;
}
#corpoAdmim{
    color: #fff;
}
#corpoAdmim .btnIcones:hover{
    background-color: #fff;
    color: #9400D3;
}

#corpoAdmim nav{
    margin-top: 20px;
}
#corpoAdmim nav ul li{
    margin-bottom: 20px;
}

/*barra latral direita painel*/
#areaPainel{
    background-color: rgba(220,220,220, .5);
    color: #000;
}

/*--------------------------- EStilos para Graficos----------*/

#dinamic{
    margin: auto;
    background-color: #fff;
    color: #000;
    
}

.titleChar{
    color: #fff;
    text-align: center;
    padding: 4px 0px;
}


/*----------------- Painel de Produtos ------------------------*/
.standard-background{
    background-color: #9400D3;
    margin-top: -104px;
    height: 100%;
}
.standard-background div{
    padding-top: 4px;
    background-color: #fff;
    height: 100%;
}


/*--------------------- PAINEL CLIENTE ---------------*/
#navPanelCliente{
    background-color: #9400D3;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}
#navPanelCliente ul{
    width: 100%;
}
#navPanelCliente ul li{
    margin: auto;
}
#navPanelCliente ul li a{
    padding: 5px;
    text-decoration: none;
    font-weight: bolder;
}
#navPanelCliente ul li a:hover{
    background-color: #fff;
    color: #9400D3;
}

#vendaPainelTable tbody{
    font-size: 12px;
}
#vendaPainelTable tbody a{
    padding: 1px 4px;
}

#vendaPainelTable .btn-success{
    background-color: #fff;
    color: #8B008B;
}


#vendaPainelTable .btn-success:hover{
    background-color: #8B008B;
    color: #fff;
}


#vendaPainelTable table thead th, #serchProd table thead th{
    text-align: center;
}

/*---------------------- BARRA LATERAL DIREITA PAINEL ADMIN ---------------*/
#optionPlus .card{
    width: 80%;
    margin: auto;
    font-size: 12px;
}
#optionPlus .card-one{
    background-color: #FF4500;
}

#optionPlus .card-two{
    background-color: #DDD;

}

#optionPlus .card-three{
    background-color: #00FA9A;
}

#optionPlus .card .card-header{
    border-radius: 20px 20px 0px 0px;
}
#optionPlus  .card{
    border: none;

}
#optionPlus  .card:hover .card-header{
    box-shadow: 2px 2px 4px #000;
}
#optionPlus  .card:hover .card-body{
    box-shadow: 2px 2px 4px #000;
}

#optionPlus .card .card-body .btn{
    margin-bottom: 0px;
    border-radius: 50px;
    font-weight: bolder;
}

/*--------------------- PAINEL DE LOGIN DO USUAROI ADMIN*/
#body-admin{
    background-color: #9400D3;
}
#body-admin section{
    margin: auto;
    
}
#loginAdmin{
    margin: auto;
    padding: 20px 50px;
    background-color: #fff;
    width: 30%;
    border-radius: 10px;
}

#loginAdmin form{

}

/*------------------------ GRÁFICOS -------------------------*/
.grafic{
}
