*{
    border: none;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #000;
}
a:hover{
    color: #000;
}

body{
    background-color: #fff;
}

body section{
    margin-top: 80px; z-index: 1
}
.corpo{
    
    height: 100%;
}
/*Cor de fundo da navbar*/
#menu-principal{
    background-color: #8B008B;
    color: #fff;
    height: 100px;
    position: fixed;z-index: 1
    
}

/*muda o alinhameno padrao da classe do bootstrapp*/
#menu-principal .navbar{
    justify-content: center;
}

#logo{
    margin: 0px 10px;
}
/*Muda cor da lista header*/

nav ul li a{
    color: #fff;
}

.login ul li a{
    padding: 8px;
    margin: 5px 10px;
}
.login ul li a:hover{
    color: #fff;
    background-color: rgb(163, 81, 163);
    
}


/*alinha os elementos da div do menu header*/
.alinha-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
}

.navbar-search, .login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navbar-search{
    align-items: left;
    width: 70%;
}

.div-search{
    width: 93%;
    background-color: #fafa;
    margin-right: 4px;
}

#input-search{
    width: 100%;
}

#form-header{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
    margin: 0 0 0 40px;
}


/*submenu*/
.submenu{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#lista-submenu{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.submenu ul li a{
    padding: 2px 10px;

}
.submenu ul li a:hover{
    background-color: rgb(163, 81, 163);
    color: #fff;
    
}



/*Estilo formulario login*/

#login, #cadastro{
    width: 50%;
    margin: 100px auto auto auto;
    padding: 50px 50px;
    height: 100%;
    background-color: #fff;
    box-shadow: 3px 3px 6px #000;

}
#cadastro{
    width: auto;
    border-radius: 0px 120px 0px 120px;
}
#cadastro legend{
    text-align: center;
}
#login button{
    background-color: #8B008B;
}

.bem-vindo{
    margin: auto;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #8B008B;
    margin-top: 20px;
}

#login hr{
    border: none;
    height: 2px;
    background: #8B008B;
    width: 70%;
    margin-bottom: 50px;
}

#login a{
    color: #8B008B;
    margin-left: 25px;
    text-align: right;
}

#login .rodape{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*---------- cadastro cliente -------*/

label[for='id_cnpj']{
    margin-left: 10px;
}

#cadastro .opcao_pessoa{
    margin-bottom: 50px;
}
#cadastro .linha{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form .btn-success{
    background-color: #8B008B;
    border-radius: 0px 20px 0px 20px;
    color: #fff;
}



form .btn-success:hover{
    background-color: #8B008B;
    color: #fff;
    font-weight: bolder;
    box-shadow: 2px 2px 4px #000;
}



/*------------- produtos-------------*/
.card-produto{
    padding: 4px 6px;
}
.produto{
    cursor: pointer;
    margin: auto;
}

.produto-item{
    height: 100%;
}
.produto-item a{
    text-decoration: none;
    color: #000;
}

.curtir-produto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.child-card-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.curt-lista{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
    margin-left: -30px;
    margin-top: 5px;
}
.button-modal{
   background-color: #8B008B; 
}
/*menu de opcoes de pesquisa à esquerda*/
#opcoes-pesquisa{
    box-shadow: 1px 2px 4px #ccc;
    position: fixed;
    width: 15%;

}

#opcoes-pesquisa div{
    padding: 20px;

}



