*{
    border: none;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #000;
}
a:hover{
    color: #000;
}

body{
    background-color: #fff;
    color: #000;
}

.bodyLojaVirtual section{
    margin-top: 80px; z-index: 1;
    color: #000;
}
section{
    margin-top: 80px;
}

.corpo{
    
    height: 100%;
}
/*Cor de fundo da navbar*/
#menu-principal{
    background-color: #8B008B;
    color: #fff;
    height: 100px;
    position: fixed;z-index: 1
    
}
footer{
    background-color: #9400D3;
    color: #fff;
}
footer h6{
    margin-left: 15px;
}
#copyRith{
    background-color: #8A2BE2;
    color: #fff;
}

/*muda o alinhameno padrao da classe do bootstrapp*/
#menu-principal .navbar{
    justify-content: center;
}

#logo{
    margin: 0px 10px;
}
/*Muda cor da lista header*/

nav ul li a{
    color: #fff;
}

.login ul li a{
    padding: 8px;
    margin: 5px 10px;
}
.login ul li a:hover{
    color: #fff;
    background-color: rgb(163, 81, 163);
    
}


/*alinha os elementos da div do menu header*/
.alinha-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
}

.navbar-search, .login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navbar-search{
    align-items: left;
    width: 70%;
}

.div-search{
    width: 93%;
    background-color: #fafa;
    margin-right: 4px;
}

#input-search{
    width: 100%;
}

#form-header{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
    margin: 0 0 0 40px;
}


/*submenu*/
.submenu{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#lista-submenu{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.submenu ul li a{
    padding: 2px 10px;

}
.submenu ul li a:hover{
    background-color: rgb(163, 81, 163);
    color: #fff;
    
}

nav ul #listLog a:hover{
    
    width: 80%;
}

/*Estilo formulario login*/

#login, #cadastro{
    width: 50%;
    margin: auto;
    height: 100%;
    background-color: #fff;

}
#cadastro{
    width: auto;
    /*border-radius: 0px 120px 0px 120px;*/
}
#cadastro legend{
    text-align: center;
}
#login button{
    background-color: #8B008B;
}

.bem-vindo{
    margin: auto;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #8B008B;
    margin-top: 20px;
}

#login hr{
    border: none;
    height: 2px;
    background: #8B008B;
    width: 70%;
    margin-bottom: 50px;
}

#login a{
    color: #8B008B;
    margin-left: 25px;
    text-align: right;
}

#login .rodape{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*---------- cadastro cliente -------*/

label[for='id_cnpj']{
    margin-left: 10px;
}

#cadastro .opcao_pessoa{
    margin-bottom: 50px;
}
#cadastro .linha{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form .btn-success{
    border: none;
    background-color: #8B008B;
    color: #fff;
}



form .btn-success:hover{
    background-color: #8B008B;
    border: none;
    color: #fff;
    font-weight: bolder;
    box-shadow: 2px 2px 4px #000;
}

form input:hover, form label:hover{
    cursor: pointer;
}

form .btn-danger:hover{
    font-weight: bolder;
}



/*------------- produtos-------------*/
.card-produto{
    padding: 4px 6px;
}
.produto{
    cursor: pointer;
    margin: auto;
}

.produto-item{
    height: 100%;
}
.produto-item a{
    text-decoration: none;
    color: #000;
}

.curtir-produto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.child-card-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.curt-lista{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
    margin-left: -30px;
    margin-top: 5px;
}
.button-modal{
   background-color: #8B008B;
   color: #fff;
}
.button-modal:hover{
    background-color: #8B008B;
}
/*menu de opcoes de pesquisa à esquerda*/
.opcoes-pesquisa{
    box-shadow: 1px 2px 4px #ccc;
    position: fixed;
    width: 15%;
    padding: 10px 12px;
    top: 110px;
    left: 20px;

}

#opcoes-pesquisa div{
    padding: 20px;

}

#myModal{
    color: #000;
}

/*---------------- Midias Sociais -----------*/
.midias{
    padding: 5px 14.5px;
}
.midiasSociasis:hover{
    background-color: #ddd;
    box-shadow: 2px 2px 3px #000;
}



/*----------------- Painel de Produtos ------------------------*/
.standard-background{
    background-color: #9400D3;
    margin-top: -104px;
    height: 100%;
}
.standard-background div{
    padding-top: 4px;
    background-color: #fff;
    height: 100%;
}

#vitrine-home .card-body .a-img-product:hover, #detalheProduto .a-img-product:hover{
    box-shadow: 1px 1px 2px #9400D3;

}

#detalheProduto span{
    color: #9400D3;
}


#barra, #barra-detalhes{
    width: 150px;
    height: 30px;
    margin-top:2px;
    margin-bottom: 2px;
    background: #ebebeb;
    position: absolute;
}

#barra-detalhes{
    margin-left: 0.5px;
}

#barra .bg, #barra-detalhes .bg-detalhes {
    height: 30px;
    /*width: 0%;*/
    float: left;
    background: linear-gradient(to bottom, #fee24f, #f4bb2f);
}

.estrelas, .estrelas-detalhes{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.star,.star-detalhes{
    float: left;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: relative;

}

.star .starAbsolute, .star-detalhes .starAbsolute-detalhes{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../../../files/imagens/star/starpng.png);
    background-size: cover;
}


.star.full{
    background: linear-gradient(to bottom, #fee24f, #f4bb2f);
}

/*-------------------- STYLE VIEW CARRINHO ------------------*/
#divProdRelac div.card{
    width: 22rem;
    height: 26rem;
    border:none;
    color: #9400D3;
    
}
#divProdRelac .card .card-body:last-child .col a.btn{
    display: none;
    width: 50%;
    background: #9400D3;
    font-weight: bolder;
}

#divProdRelac .card:hover .card-body:last-child .col a.btn{
    display: block;
    border-radius: 50px;
}

#divCardCarriho div.card{
    width: 22rem;
    height: 24rem;
    border:none;
    color: #9400D3;
    
}
#divCardCarriho a.btn{
    display: none;
    width: 50%;
    background: #9400D3;
    font-weight: bolder;
}
    
#divProdRelac div.card:hover{
    box-shadow: 2px 2px 4px #9400D3;
}

#divCardCarriho div.card:hover{
     box-shadow: 2px 2px 4px #9400D3;
}


#divCardCarriho div.card:hover a.btn{
    display: block;
    border-radius: 50px;

}
.controller{
    border:1px solid #9400D3;
}

.controller:hover{
    box-shadow: 2px 2px 4px #9400D3;
    color: #fff;
    background-color: #9400D3;
    font-weight: bolder;
    border:1px solid #9400D3;
}

.controller-delete{
    border:1px solid #9400D3;
    padding: 2px 10px;
}

.controller-delete:hover{
    box-shadow: 2px 2px 4px red;
    color: #fff;
    background-color: red;
    font-weight: bolder;
    border:1px solid red;
}
#vitrine-home .last-of-grid{
    width: 93.5rem; height: 16rem;
}
#vitrine-home .last-of-grid img{
    width: 100px; height: 100px;
}

#vitrine-home .medle-of-grid{
    width: 46rem; height: 16rem;
}
#vitrine-home .medle-of-grid img{
    width: 130px; height: 130px;
}
#vitrine-home .first-of-grid img{
       width: 100px; height: 100px;
}
#vitrine-home .first-of-grid {
       width: 22rem; height: 28rem;
}
@media(max-width: 600px){
    #vitrine-home .last-of-grid {
        width: auto; height: auto;
    }
    #vitrine-home .last-of-grid .card-body:last-child {
        margin:0;
    }

    #vitrine-home img{/*ajustar*/
        width: 20px;
        height: 30px;
    }

    #vitrine-home .medle-of-grid{
       width: auto; height: auto;
     }

    #vitrine-home .first-of-grid{
       width: auto; height: auto;
     }
    
}