*{
    border: none;
    box-sizing: border-box;
}

body{
    background-color: #ccc;
}

.corpo{
    
    height: 100%;
}
/*Cor de fundo da navbar*/
.navbar-dad{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2F4F4F;
    color: #fff;
    height: 100px;
    
}


#logo{
    margin: 0px 10px;
}
/*Muda cor da lista header*/

nav ul li a{
    color: #fff;
}
.login ul li a:hover{
    color: #fff;
    border: 2px solid #fff;
    background-color: #2F4F4F;
}


/*alinha os elementos da div do menu header*/
.alinha-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
}

 .navbar-search, .login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navbar-search{
    align-items: left;
    width: 70%;
}

.div-search{
    width: 93%;
    background-color: #fafa;
    margin-right: 4px;
}

#input-search{
    width: 100%;
}

#form-header{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
    margin: 0 0 0 40px;
}


/*submenu*/
.submenu{
    display: flex;
    flex-direction: row;
    padding: 10px 0;
}

/*submenu esquerdo*/
.submenu_esquerdo ul li a{
    padding: 2px 10px;
    border-radius: 2px;
}

.submenu_esquerdo ul li a:hover{
    border: 2px solid #fff;
    background-color: #2F4F4F;
    color: #fff;
}



@media(max-width:500px){
    .navbar-dad{
        
    }

    #logo{
        
    }
    /*Muda cor da lista header*/

    nav ul li a{
        
    }
    .login ul li a:hover{
        
    }


    /*alinha os elementos da div do menu header*/
    .alinha-header{
        
        
    }

    .navbar-search, .login{
        
    }
    .navbar-search{
        
    }

    .div-search{
        
    }

    #input-search{
        
    }

    #form-header{
        
    }


    /*submenu*/
    .submenu{
        
    }

    /*submenu esquerdo*/
    .submenu_esquerdo ul li a{
        
    }

    .submenu_esquerdo ul li a:hover{
        
    }

}


/*Estilo formulario login*/

#login{
    width: 50%;
    margin: 100px auto auto auto;
    padding: 50px 50px;
    height: 100%;
    background-color: #fff;
    box-shadow: 3px 3px 6px #000;

}

#login button{
    background-color: #2F4F4F;
}

.bem-vindo{
    margin: auto;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #2F4F4F;
    margin-top: 20px;
}

#login hr{
    border: none;
    height: 2px;
    background: #2F4F4F;
    width: 70%;
    margin-bottom: 50px;
}